@{
    string GetIcon(string cultureName)
    {
        string result = "/icon/" + cultureName.ToString() + ".svg";

        return result;
    }
    string newcultureName = "";
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();// получаем список поддерживаемых культур

    var cultureNames = LocOptions.Value.SupportedUICultures
        .Select(c => c.Name)
        .ToList();
    var nowCultureName = requestCulture.RequestCulture.Culture.Name;
    if (cultureNames.Contains(nowCultureName))
    {
        cultureNames.Remove(nowCultureName);
    }
}

<form asp-action="SetLanguage" asp-controller="Resources" style="margin-top:20px;" asp-route-cultureName="@newcultureName" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal">
    <label for="@nowCultureName">
        <input type="radio" onclick="this.form.submit();" name="cultureName" value="@nowCultureName" id="@nowCultureName" checked>
        <img src=@GetIcon(nowCultureName) width="40" />
    </label>
    @foreach (var cultureName in cultureNames)
    {
        <label for="@cultureName">
            <input type="radio" onclick="this.form.submit();" name="cultureName" value="@cultureName" id="@cultureName">
            <img src=@GetIcon(cultureName) width="40" />
        </label>
    }
    <script>
        $(document).ready(function () {
            let culture = $('input[name="cultureName"]:checked').val();
            @newcultureName=culture;
        });
    </script>
</form>
